
@font-face {
    font-family: 'BigParty4Blue';
    src: url('./my-font1.woff') format('woff') url('./my-font2.woff') format('woff') ;
    font-weight: 600;
    font-style: normal;
  }

.hello {
    color: red;
    font-family: 'BigParty4Blue';
    background: url('./icon.png');
  }